.post {
    width: 15vw;
    height: 30vh;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    margin: 2% 2%;
    border: 1px solid black;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 2px 2px #ccc;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
}

h4 {
    margin: 0;
}

.one {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

h5 {
    margin: 0;
    text-emphasis: none;
    text-decoration: none;
}